.container {
    width: 100%;
}

.left {
    float: left;
    width: 600px;
    height: 250px;
    background-image: url('HoaVan03.jpeg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container {
    background-color: white;
    opacity: 0.7;
    text-align: center;
}

.right {
    float: left;
    padding: 20px;
}